<md-input-container floatPlaceholder="never" type="text">
  <input
    mdInput
    placeholder="Search by Author or Title"
    (input)="search($event.target.value)">
</md-input-container>

<div *ngFor='let book of books | async' fxLayout='column'>
  <div ngClass='book' fxLayout='row'>
    <button md-icon-button (click)="add(book)">
      <md-icon>file_download</md-icon>
    </button>
    <div fxLayout='column' fxLayoutAlign='start|center'>
      <div ngClass='title' fxFlex>{{ book.title }}</div>
      <div ngClass='author' >{{ book.author }}</div>
    </div>
  </div>
</div>
